header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;

    padding: 0 45px;
}
header img{
    margin: 0;
    display: block;
    line-height: 1em;
    width: auto;
    height: 60px;
}
header nav ul{
    display: flex;
    flex-direction: row;
    gap: 40px;

    list-style: none;    
}
header nav ul li a{
    text-decoration: none;
}

header nav ul li a:hover{
    color: var(--va_clr-primary);
}

header .activa{
    color: var(--va_clr-primary);
}