footer a {
  text-decoration: none;
}
footer .va_container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 0;
}
footer a:hover,
footer .va_rrss .va_icons div:hover > svg,
footer .va_rrss .va_icons div:hover {
  color: var(--va_clr-primary) !important;
  border-color: var(--va_clr-primary) !important;
}

.enlaces,
.legal,
.va_rrss {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;

  min-width: 200px;
  margin-bottom: 50px;
}
.va_rrss {
  align-items: center;
}
.va_rrss .va_icons {
  display: flex;
  gap: 15px;
}
.va_rrss .va_icons div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: solid white 2px;
  width: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
}
.va_endoso {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 200px 50px;
  gap: 12px;
}
