/* Nadie TRABAJANDO */
/* Editado a las 27/12/22 a las 9:50 por Raúl */
@font-face {
  font-family: FSKoopman-Medium;
  src: url(./fonts/FSKoopman-Medium.ttf);
}
@font-face {
  font-family: FSKoopman-ExtraBold;
  src: url(./fonts/FSKoopman-ExtraBold.ttf);
}

:root {
  /* colors */
  --va_clr-text: #2d116d; /* blue */
  --va_clr-text-black: #333333; /* black */
  --va_clr-grey-text: #b2b2b2; /* grey text */
  --va_clr-grey-text-drak: #8a8a8a; /* grey text */
  --va_clr-primary: #ff4f5e; /* red */
  --va_clr-secondary: #2d116d; /* bue */
  --va_clr-background: #dbe2e9; /* grey */

  /* text color when have background */
  --va_clr-primary-text: #ffffff; /* white */
  --va_clr-secondary-text: #ffffff; /* white */
  --va_clr-background-text: var(--va_clr-text); /* no change */

  /* font */
  --va_font-family: "Roboto", sans-serif;
  --va_lspacing: -0.5px;
  --va_font-family-titles: FSKoopman-ExtraBold, "Roboto", sans-serif;
  --va_font-family-titles-medium: FSKoopman-Medium, FSKoopman-ExtraBold,
    "Roboto", sans-serif;
  --va_lspacing-titles: var(--va_lspacing);

  /* font sizes */
  --va_font-size: 20px;
  --va_line-height: 1.4em;
  --va_h1-fs: 100px;
  --va_h1-lh: 95px;
  --va_h2-fs: 72px;
  --va_h2-lh: 72px;
  --va_h3-fs: 40px;
  --va_h3-lh: 51px;
  --va_h4-fs: 24px;
  --va_h4-lh: 28px;
  --va_h5-fs: 20px;
  --va_h5-lh: 1.4em;
  --va_small-fs: 16px;
  --va_small-lh: 24px;

  /* steps */
  --va_steps-gap-horizontal: 88px;
  --va_steps-gap-vertical: 42px;
  --va_steps-gap-half: 44px;
  --va_steps-number-space: 20px;
  --va_steps-number-size: 80px;

  /* Floating form */
  --floating-form-width: 400px;
  --floating-form-height: 600px;

  /* containers */
  --va_container-width: 1110px;
  --va_container-width-half: 640px;
  --va_container-small-width: 700px;
  --va_container-large-width: 1400px;
  --va_container-padding-top: 90px;
  --va_container-padding-bottom: 90px;
  --va_container-padding-horizontal: 74px;
  --va_container-padding-horizontal-not-centered: 15vw;
  --va_container-padding-right-floating-form: calc(
    500px + var(--va_container-padding-horizontal-not-centered)
  );
  --va_columns-gap: 34px;
  --va_columns-gap-half: 17px;
  --va_columns-text-width: 580px;
  --va_columns-text-width-gap: calc(
    var(--va_columns-text-width) + var(--va_columns-gap)
  );
  --va_btns-gap: 24px;
  --va_btns-gap-half: 12px;

  /* images */
  --va_image-effect-widht: 85px;
  --va_image-effect-height: 67px;
  --va_image-effect-position-vertical: -20px;
  --va_image-effect-position-horizontal: -20px;
  --va_image-effect-small-widht: 69px;
  --va_image-effect-small-height: 50px;

  /* header */
  --va_header-height: 80px;
}

/** BASE CONFIG **/
html,
body {
  min-width: 350px;
}

*:not(i),
p,
span,
a,
div,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
#supercontenedor #slider-bloque-buscador .custom-select select,
#supercontenedor #slider-bloque-buscador div,
#supercontenedor #slider-bloque-buscador input,
#supercontenedor #cabecera-bloque-buscador .custom-select select,
#supercontenedor #cabecera-bloque-buscador div,
#supercontenedor #cabecera-bloque-buscador input,
.modulos-destacados-1 #destacados-carrusel h1.destacados-titulo,
.paginacion-ficha-datos h1.titulo {
  font-family: var(--va_font-family) !important;
  letter-spacing: var(--va_lspacing);
  font-weight: 400;
  font-size: var(--va_font-size);
  line-height: var(--va_line-height);

  color: var(--va_clr-text-black);
}

span,
strong {
  display: inline;
}

strong {
  font-weight: 500;
}

svg,
svg path {
  color: currentColor;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}
/** END BASE CONFIG **/

/** TITLES **/
.va_h1 {
  display: block;
  margin: 0 0 42px;
  padding: 0;

  font-family: var(--va_font-family-titles) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 800 !important;
  font-size: var(--va_h1-fs);
  line-height: var(--va_h1-lh);

  color: var(--va_clr-secondary);
}

.va_h2 {
  display: block;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
  padding: 0;

  font-family: var(--va_font-family-titles) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 700 !important;
  font-size: var(--va_h2-fs);
  line-height: var(--va_h2-lh);

  color: var(--va_clr-secondary);
}

.va_h3 {
  display: block;
  margin: 0 0 10px;
  padding: 0;

  font-family: var(--va_font-family-titles) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 600 !important;
  font-size: var(--va_h3-fs);
  line-height: var(--va_h3-lh);

  color: var(--va_clr-secondary);
}

.va_h4 {
  display: block;
  margin: 0 0 12px !important;
  padding: 0;

  font-family: var(--va_font-family-titles-medium) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 500 !important;
  font-size: var(--va_h4-fs);
  line-height: var(--va_h4-lh);

  color: var(--va_clr-secondary);
}

.va_h5 {
  display: block;
  margin: 0 0 12px !important;
  padding: 0;

  font-family: var(--va_font-family-titles-medium) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 500 !important;
  font-size: var(--va_h5-fs);
  line-height: var(--va_h5-lh);

  color: var(--va_clr-secondary);
}

.va_h6 {
  display: block;
  margin: 0 0 12px !important;
  padding: 0;

  font-family: var(--va_font-family-titles-medium) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 500 !important;
  font-size: var(--va_small-fs);
  line-height: var(--va_small-lh);

  color: var(--va_clr-secondary);
}

svg + .va_h4 {
  margin-top: 20px !important;
}
/** END TITLES **/

/** IMAGES **/
.va_image {
  display: block;
  margin: 0 auto;
  padding: 0;

  background-color: var(--va_clr-secondary);
  border-radius: 22px;
}

.va_image-circle {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  padding: 0;

  background-color: var(--va_clr-secondary);
  border-radius: 50%;
}

.va_image + *,
.va_image-circle + p {
  margin-top: 1em;
}

.va_image-circle + span {
  margin-left: 1em;
}

*[class*="va_image-effect-"] {
  position: relative;
}

*[class*="va_image-effect-"]::after {
  content: "";
  position: absolute;
  display: block;
  width: var(--va_image-effect-widht);
  height: var(--va_image-effect-height);

  background: transparent url("./img/image-effect.png") no-repeat;
  background-size: contain;
}

.va_image-effect-small::after {
  width: var(--va_image-effect-small-widht);
  height: var(--va_image-effect-small-height);

  background-image: url("./img/image-effect-small.png");
}

.va_image-effect-top-left::after {
  top: var(--va_image-effect-position-vertical);
  left: var(--va_image-effect-position-horizontal);
}

.va_image-effect-top-right::after {
  top: var(--va_image-effect-position-vertical);
  right: var(--va_image-effect-position-horizontal);
}

.va_image-effect-bottom-right::after {
  bottom: var(--va_image-effect-position-vertical);
  right: var(--va_image-effect-position-horizontal);
}

.va_image-effect-bottom-left::after {
  bottom: var(--va_image-effect-position-vertical);
  left: var(--va_image-effect-position-horizontal);
}

.va_image-effect-top-left img,
.va_image-effect-bottom-left img {
  margin-left: 0;
}

.va_image-effect-top-right img,
.va_image-effect-bottom-right img {
  margin-right: 0;
}
/** END IMAGES **/

/** BUTTONS **/
*[class*="va_btn"] {
  display: inline-block;
  vertical-align: middle;

  margin: 0;
  padding: 15px 42px;

  text-decoration: none;
  font-weight: 500;
  line-height: 1em;

  background: var(--va_clr-secondary);
  color: var(--va_clr-secondary-text) !important;

  border: 2px solid var(--va_clr-secondary);
  border-radius: 50px;
}

.va_button-floating {
  position: fixed;
  top: 90vh;
  display: flex;
  width: 100vw;
  justify-content: center;
  text-align: center;

  display: none;
}

.va_button-floating > button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.va_btn-outline {
  background: transparent;
  color: var(--va_clr-secondary) !important;
  border-color: var(--va_clr-secondary);
}

.va_btn-white {
  background: white;
  color: var(--va_clr-secondary) !important;
  border-color: white;
}

.va_btn-card {
  background: var(--va_clr-background);
  color: var(--va_clr-text-black) !important;
  border-color: var(--va_clr-background);
  border-radius: 8px;
  padding: 28px;
}

.va_btn-card svg {
  display: block;
  margin: 0 auto 12px;
  padding: 0;

  color: var(--va_clr-secondary) !important;
}

.va_btn-card span {
  color: currentColor !important;
}

.va_btn:hover,
.va_btn-white:hover {
  text-decoration: none;

  background: var(--va_clr-primary);
  color: var(--va_clr-primary-text) !important;
  border-color: var(--va_clr-primary);
}

.va_btn-outline:hover {
  text-decoration: none;

  background: var(--va_clr-background);
  color: var(--va_clr-secondary) !important;
  border-color: var(--va_clr-secondary);
}

.va_btn-primary:hover {
  text-decoration: none;

  background: var(--va_clr-secondary);
  color: var(--va_clr-secondary-text) !important;
  border-color: var(--va_clr-secondary);
}

.va_btn-card:hover {
  background: var(--va_clr-secondary);
  color: var(--va_clr-secondary-text) !important;
  border-color: var(--va_clr-secondary);
}

.va_btn-card:hover svg {
  --va_clr-background: var(--va_clr-secondary);
  color: currentColor !important;
}
/** END BUTTONS **/

/** INPUT + BUTTON **/
.va_input-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  gap: 0;
  background: transparent;
  border: 2px solid var(--va_clr-background);
  border-radius: 60px;
  overflow: hidden;
}
.va_input-btn > * {
  flex: 1;
  margin: 0;
}
.va_input-btn > input:first-child {
  border: none;
  background: none;
  padding: 0 0 0 1em;
}

.va_input-btn > input:first-child:focus-visible {
  outline: none;
}

.va_input-btn > .va_btn {
  flex-grow: 0.3;
  flex-shrink: 0;
}
/** END INPUT + BUTTON **/

/** SMALL WITH CONTAINER CUSTOM **/
.va_small-with {
  max-width: var(--va_container-small-width) !important;
}
/** STEPS **/
*[class*="va_steps"] {
  counter-reset: va_step;

  margin: 0 !important;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;

  column-gap: var(--va_steps-gap-horizontal);
  row-gap: var(--va_steps-gap-vertical);
}

*[class*="va_steps"] > * {
  position: relative;
  overflow: visible;

  display: block;
  margin: 0 !important;
  padding: 0;
  list-style: none;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

*[class*="va_steps"] .va_step-number {
  counter-increment: va_step;

  display: block;
  margin: 0 0 var(--va_steps-number-space);
  padding: 0;

  font-family: var(--va_font-family-titles) !important;
  font-weight: 800;
  font-size: var(--va_steps-number-size);
  line-height: var(--va_steps-number-size);
  text-align: left;
  color: currentColor !important;
}

*[class*="va_steps"] .va_step-number::before {
  content: counter(va_step);
  display: inline;
  color: var(--va_clr-primary) !important;
}

*[class*="va_steps"] .va_step-number::after {
  content: ".";
  display: inline;
  color: var(--va_clr-primary) !important;
}

.va_steps-secondary .va_step-number::before {
  color: var(--va_clr-secondary) !important;
}

.va_steps-secondary .va_step-number::after {
  color: var(--va_clr-primary) !important;
}

.va_steps-primary .va_step-number::before {
  color: var(--va_clr-primary) !important;
}

.va_steps-primary .va_step-number::after {
  color: white !important;
}

.va_steps-white .va_step-number::before {
  color: white !important;
}

/** STEPS 2 ROWS 2 COLUMNS **/

.va_steps-2-2 {
  flex-wrap: wrap;
}

.va_steps-2-2 > * {
  width: calc(50% - var(--va_steps-gap-half));
  min-width: calc(50% - var(--va_steps-gap-half));
  max-width: calc(50% - var(--va_steps-gap-half));
}

/** END STEPS **/

/** BULLETS **/
.va_bullets {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.va_bullets > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.va_bullets > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
}
/** END BULLETS **/

/** ROWS **/
.va_rows {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
/** END ROWS **/

/** CONTAINERS **/
*[class*="va_container"] {
  display: block;
  max-width: var(--va_container-width);
  margin: 0 auto;
  padding: var(--va_container-padding-top)
    var(--va_container-padding-horizontal) var(--va_container-padding-bottom);
}

.va_container-small {
  max-width: var(--va_container-small-width);
}

.va_container-large {
  max-width: var(--va_container-large-width);
}

.va_container-sticky-form {
  position: fixed;
  top: 100px;
  right: calc(var(--va_container-padding-horizontal-not-centered));

  padding: 30px;
  padding-bottom: 10px;

  border-radius: 20px;
  width: var(--floating-form-width);
  min-height: var(--floating-form-height);
}

.va_container-sticky-form > .va_container-sticky-form-content {
  max-height: calc(100vh - 245px);
  overflow: auto;
  padding: 0 10px 20px;
  margin: 0 -10px 0;
}

.va_container-sticky-form
  > .va_container-sticky-form-content::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.va_container-right-spaced {
  text-align: left;
  padding: var(--va_container-padding-top)
    var(--va_container-padding-right-floating-form)
    var(--va_container-padding-bottom)
    var(--va_container-padding-horizontal-not-centered);
  margin: 0;
}
.va_container-flex-column {
  display: flex;
  flex-direction: column;
}

.va_container-form {
  max-width: var(--va_container-small-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.va_container-form p + form {
  margin-top: 32px;
}

.va_buttons-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0;
  gap: 24px;
}

.va_full-height {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

*[class*="va_columns"] {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: stretch;
  align-items: flex-start;
  align-content: space-around;

  gap: var(--va_columns-gap);
}

.va_columns-media {
  align-items: center;
}

*[class*="va_columns"] > * {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.va_column-image {
  flex-grow: 2;
  max-width: calc(100% - var(--va_columns-text-width-gap));
}

.va_column-text {
  min-width: var(--va_columns-text-width);
}

.va_column-text p + *[class*="va_btn"],
.va_column-text p + *[class*="va_btn"] + *[class*="va_btn"] {
  margin-top: 36px;
}

.va_column-text p + *[class*="va_btn"] + *[class*="va_btn"] {
  margin-left: 24px;
}

.va_column-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 180px;
  height: 180px;

  border-radius: 8px;
}

.va_columns-border {
  border-top: solid 2px var(--va_clr-background);
  border-bottom: solid 2px var(--va_clr-background);

  gap: 0;
  align-items: stretch;
}

.va_columns-border:last-child {
  border-bottom: none;
}

.va_columns-border > * {
  padding: 30px 70px;
}

.va_columns-border > * + * {
  border-left: solid 2px var(--va_clr-background);
}

.va_columns-border > *:first-child {
  padding-left: calc(50vw - var(--va_container-width-half));
}

.va_columns-border > *:last-child {
  padding-right: calc(50vw - var(--va_container-width-half));
}

.va_columns-border .va_column-link {
  cursor: pointer;
}

.va_columns-border .va_column-link a svg {
  display: inline-block;
  margin-left: 20px;
}

.va_columns-border .va_column-link:hover a,
.va_columns-border .va_column-link a:hover {
  color: var(--va_clr-primary) !important;
}

*[class*="va_columns"].va_wrapper-btns {
  gap: var(--va_btns-gap);
}

.va_columns-2.va_wrapper-btns {
  max-width: 400px;
}

.va_columns-3.va_wrapper-btns {
  max-width: 600px;
}

.va_columns-4.va_wrapper-btns {
  max-width: 800px;
}

dl.va_folding-list {
  display: block;
  margin: 0 auto;
  padding: 0;
}

dl.va_folding-list > dt,
dl.va_folding-list > dd {
  position: relative;
  display: block;
  margin: 0;

  background: white;
  box-shadow: 0px 3px 11px rgba(2, 40, 43, 0.14);
  border-radius: 15px;
}

dl.va_folding-list > dt {
  cursor: pointer;
  padding: 42px 80px 42px 30px;
}

dl.va_folding-list > dt:not(:first-child) {
  margin-top: 28px;
}

dl.va_folding-list > dd {
  display: none;
  margin-top: -14px;
  padding: 14px;

  border-radius: 0px 0px 15px 15px;
}

dl.va_folding-list > dt::before,
dl.va_folding-list > dt::after {
  content: "";
  position: absolute;

  transition: opacity 0.4s;
  opacity: 1;

  display: block;
  background-color: var(--va_clr-secondary);
}

dl.va_folding-list > dt::before {
  top: 57px;
  right: 35px;

  width: 17px;
  height: 3px;
}

dl.va_folding-list > dt::after {
  top: 50px;
  right: 42px;

  width: 3px;
  height: 17px;
}

dl.va_folding-list > dt:hover::before,
dl.va_folding-list > dt:hover::after {
  background-color: var(--va_clr-primary);
}

dl.va_folding-list > dt.va_open {
  background-color: var(--va_clr-background);
}

dl.va_folding-list > dt.va_open::after {
  opacity: 0;
}
/** END CONTAINERS **/

/** STYLE FOR LEGAL PAGES **/
.va_container-legal .va_h3 {
  text-align: center;
  margin-bottom: 30px !important;
}

.va_container-legal *:not(.va_h3) + .va_h4 {
  margin-top: 40px !important;
}

.va_container-legal *:not(.va_h4) + .va_h5 {
  margin-top: 30px !important;
}
/** END STYLE FOR LEGAL PAGES **/

/** HEADER STYLE **/
header#modulo-cabecera-2,
header#modulo-cabecera-2 div#header-bloque2 {
  margin: 0px;
  padding: 0px !important;

  background: none;
  border: none;
  box-shadow: none !important;
}

header#modulo-cabecera-2 {
  background: white;
  position: fixed !important;
  top: 0;
  overflow: visible;
}

header#modulo-cabecera-2 #header-bloque2 #header-bloquemenu {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 45px;

  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

#modulo-cabecera-2 #header-logo {
  position: relative !important;
  top: 0px !important;
  padding: 0;
  order: -1;
}

#modulo-cabecera-2 #header-logo a,
#modulo-cabecera-2 #header-logo img {
  margin: 0;
  display: block;
  line-height: 1em;
  width: auto;
  height: 60px;
}

#modulo-cabecera-2 #header-bloquemenu #header-bloqueidiomas,
#modulo-cabecera-2 #header-bloquemenu #header-bloquetfno {
  position: relative;
  order: 3;
  top: auto;
  right: auto;

  display: none !important;
  padding: 0;
  margin: 0;
}

#modulo-cabecera-2 #header-bloquemenu #header-bloqueidiomas {
  order: 4;
  width: 50px;
  height: 24px;
}

#modulo-cabecera-2 #header-bloquemenu #header-bloqueidiomas > .languagepicker {
  position: absolute;
}

#modulo-cabecera-2 #header-bloquemenu .header-menu {
  height: auto !important;
  padding: 0 !important;
  justify-content: flex-end;
}

#modulo-cabecera-2 #header-bloquemenu .header-menu ul {
  gap: 40px;
  row-gap: 0px;
}

#modulo-cabecera-2 #header-bloquemenu .header-menu ul li a:hover,
#modulo-cabecera-2 #header-bloquemenu .header-menu ul li.activa a {
  color: var(--va_clr-primary);
}
#modulo-cabecera-2 #header-bloquemenu .header-menu ul li:hover,
#modulo-cabecera-2 #header-bloquemenu .header-menu ul li.activa {
  background: none !important;
}
/** END HEADER STYLE **/

/** FOOTER STYLE **/
/** END FOOTER STYLE **/

/** HOME PROPERITES **/
.modulos-destacados {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--va_container-padding-bottom) !important;
}

.modulos-destacados #destacados-contenedor,
.modulos-destacados #destacados-contenedor .caroufredsel_wrapper,
.modulos-destacados
  #destacados-contenedor
  .caroufredsel_wrapper
  #destacados-carrusel {
  position: relative !important;
  height: auto !important;
}

.modulos-destacados #destacados-contenedor {
  max-width: none !important;
}

.modulos-destacados #destacados-contenedor + #destacados-paginacion {
  display: none !important;
}

.modulos-destacados #destacados-contenedor .caroufredsel_wrapper {
  display: flex;
  justify-content: center;
}

.modulos-destacados
  #destacados-contenedor
  .caroufredsel_wrapper
  #destacados-carrusel {
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  padding: 0 16px 6px;
}

.modulos-destacados #destacados-carrusel .destacados-masdatos ul {
  justify-content: space-between;
}

.modulos-destacados #destacados-carrusel .destacados-masdatos li * {
  font-size: var(--va_small-fs);
  line-height: var(--va_small-lh);
}

.modulos-destacados #destacados-carrusel .destacados-ficha-bloque1 .precio1 {
  font-weight: 500;
  background-color: white !important;
  padding: 4px !important;
  bottom: 4px !important;
  right: 4px !important;
  left: auto !important;
  top: auto !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  line-height: 1em;
  position: absolute !important;
  width: max-content !important;
  color: var(--va_clr-text-black);
}
/** END HOME PROPERITES **/

/** MODALS **/
.cajaNegraAlerta .modalNuestra {
  width: 800px;
  padding: 0;
}

.cajaNegraAlerta .modalNuestra .cajaCabeceraModalNuestra {
  box-sizing: content-box;
  margin: 0;
  padding: 15px 24px 10px;
  border-bottom: 1px solid var(--va_clr-background);

  align-items: center;
}

.cajaNegraAlerta .modalNuestra .cajaCabeceraModalNuestra h4 {
  font-family: var(--va_font-family-titles-medium) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 500 !important;
  font-size: var(--va_h4-fs);
  line-height: var(--va_h4-lh);
  color: var(--va_clr-secondary);
}

.cajaNegraAlerta .modalNuestra .cajaCabeceraModalNuestra span[onclick] {
  position: relative;
  font-size: 0;
  color: transparent;

  display: block;
  width: 15px;
  height: 15px;
}

.cajaNegraAlerta .modalNuestra .cajaCabeceraModalNuestra span[onclick]::before,
.cajaNegraAlerta .modalNuestra .cajaCabeceraModalNuestra span[onclick]::after {
  content: "";
  position: absolute;
  top: 1px;

  display: block;
  width: calc(145% - 2.5px);
  height: 2px;

  background-color: var(--va_clr-primary);
}

.cajaNegraAlerta
  .modalNuestra
  .cajaCabeceraModalNuestra
  span[onclick]:hover::before,
.cajaNegraAlerta
  .modalNuestra
  .cajaCabeceraModalNuestra
  span[onclick]:hover::after {
  background-color: var(--va_clr-secondary);
}

.cajaNegraAlerta .modalNuestra .cajaCabeceraModalNuestra span[onclick]::before {
  left: 1px;

  -ms-transform: rotate(45deg); /* IE 9 */
  -ms-transform-origin: 5% top; /* IE 9 */
  transform: rotate(45deg);
  transform-origin: 5% top;
}

.cajaNegraAlerta .modalNuestra .cajaCabeceraModalNuestra span[onclick]::after {
  right: 1px;

  -ms-transform: rotate(-45deg); /* IE 9 */
  -ms-transform-origin: 95% top; /* IE 9 */
  transform: rotate(-45deg);
  transform-origin: 95% top;
}

.cajaNegraAlerta .modalNuestra .modalNuestraCont {
  display: block;
  margin: 0;
  padding: 15px 24px;
}

.cajaNegraAlerta .modalNuestra .modalNuestraCont * {
  font-size: var(--va_small-fs);
  line-height: var(--va_small-lh);
}

.cajaNegraAlerta .modalNuestra .modalNuestraCont > a:last-child {
  display: inline-block;
  margin: 20px 0 0;
  color: var(--va_clr-secondary);
}

.cajaNegraAlerta .modalNuestra .modalNuestraCont > a:last-child:hover {
  color: var(--va_clr-primary);
}

.cajaNegraAlerta .modalNuestra .modalNuestraCont .formProponerPrecio {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 20px;
}

.cajaNegraAlerta .modalNuestra .modalNuestraCont .formProponerPrecio .tooltip {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  color: var(--va_clr-secondary);
}

.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  .formProponerPrecio
  .tooltip
  span {
  color: var(--va_clr-secondary);
}

.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  .formProponerPrecio
  .bloqueProponerInput,
.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  .formProponerPrecio
  .bloqueProponerTextarea {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 6px;
}

.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  .formProponerPrecio
  .bloqueProponerInput
  input,
.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  .formProponerPrecio
  .bloqueProponerTextarea
  textarea {
  display: block;
  margin: 0;
  padding: 12px 16px;

  border: 1px solid var(--va_clr-background);
  border-radius: 8px;

  font-weight: 400;
  font-size: var(--va_small-fs);
  line-height: var(--va_small-lh);
}

.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  .formProponerPrecio
  .bloqueProponerTextarea
  textarea {
  min-height: 50px;
  height: 80px;
  min-width: 100%;
  max-width: 100%;
}

.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  .formProponerPrecio
  .bloqueProponerCheckbox {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
}

.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  .formProponerPrecio
  .bloqueProponerCheckbox
  .custom-checkbox:checked
  + label:after {
  transform: none;
  top: 3px;
  background-image: url("./img/check-blanco.svg");
}

.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  .formProponerPrecio
  .bloqueProponerCheckbox
  .custom-checkbox:checked
  + label:before {
  background-color: var(--va_clr-secondary) !important;
}

.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  .formProponerPrecio
  .bloqueProponerCheckbox,
.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  .formProponerPrecio
  .bloqueProponerCheckbox
  span {
  font-weight: 400;
  font-size: var(--va_small-fs);
  line-height: var(--va_small-lh);

  color: var(--va_clr-grey-text-drak);
}

.cajaNegraAlerta .modalNuestra .modalNuestraCont #bloqueProponerButton,
.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  #bloqueProponerButton.enviarProponerPrecio {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  #bloqueProponerButton.enviarProponerPrecio {
  width: 100%;
  height: auto;
  margin-top: 32px;
  padding: 15px 42px;
  text-decoration: none;
  font-weight: 500;
  font-size: var(--va_font-size);
  line-height: 1em;
  background: var(--va_clr-secondary);
  color: var(--va_clr-secondary-text) !important;
  border: 2px solid var(--va_clr-secondary);
  border-radius: 50px;
}

/* custo legal text */
.cajaNegraAlerta .modalNuestra .modalNuestraCont .va_container-legal {
  padding: 0;
}

.cajaNegraAlerta .modalNuestra .modalNuestraCont .rpgdPrivacid {
  display: none !important;
}

/*
.cajaNegraAlerta .modalNuestra .modalNuestraCont .rpgdPrivacid + .va_container-legal,
.cajaNegraAlerta .modalNuestra .modalNuestraCont .rpgdPrivacid + style + .va_container-legal {
	margin-top: 40px;
}
*/

.cajaNegraAlerta .modalNuestra .modalNuestraCont .va_container-legal .va_h3 {
  font-size: var(--va_h4-fs);
  line-height: var(--va_h4-lh);
  margin-bottom: 20px !important;
}

.cajaNegraAlerta .modalNuestra .modalNuestraCont .va_container-legal .va_h4,
.cajaNegraAlerta .modalNuestra .modalNuestraCont .va_container-legal .va_h5 {
  font-size: var(--va_font-size);
  line-height: var(--va_line-height);
}

.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  .va_container-legal
  *:not(.va_h3)
  + .va_h4,
.cajaNegraAlerta
  .modalNuestra
  .modalNuestraCont
  .va_container-legal
  *:not(.va_h4)
  + .va_h5 {
  margin-top: 15px !important;
}
/** END MODALS **/

/** FORMS **/
.va_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--va_clr-background);
}

.va_form > h1,
.va_form > h2,
.va_form > h3,
.va_form > h4,
.va_form > h5,
.va_form > h6 {
  color: var(--va_clr-secondary);
  text-align: center;
}

.va_form > p {
  text-align: center;
}

.va_form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.va_form form input[type="text"],
.va_form form textarea {
  width: 100%;
  border: 1px solid rgba(216, 216, 216, 0.2);

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 12px 16px;
  margin: 4px 0 24px 0;
}

.va_form form textarea {
  height: 10vh;
}

.va_form .va_btn {
  margin-top: 32px;
  width: 100%;
  cursor: pointer;
}

.va_form .va_mensajeError {
  color: var(--va_clr-primary);
  display: none;
}

.va_form .va_mensajeCorrecto {
  margin-top: -25px;
  margin-bottom: 10px;
  color: #98da79;
  display: none;
}

#va_mensajeEnvioError,
#va_mensajeEnvioCorrecto {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
/** END FORMS **/

/** GENERIC CLASSES (to change "default" values) **/
/* change font options */
.va_font-small,
.va_font-small > p,
.va_font-small > p > span,
.va_font-small > p > strong,
.va_font-small > span,
.va_font-small > strong {
  font-size: var(--va_small-fs);
  line-height: var(--va_small-lh);
}

.va_font-verysmall {
  font-size: 14px;
}

.va_text-center {
  text-align: center;
}
.va_text-center > * {
  margin-left: auto;
  margin-right: auto;
}
.va_text-left {
  text-align: left;
}

/* change background and text color */
.va_bg-white {
  background-color: white;
  color: var(--va_clr-background-text) !important;
}

.va_bg-default {
  background-color: var(--va_clr-background);
}

.va_bg-primary {
  background-color: var(--va_clr-primary);
  color: var(--va_clr-primary-text) !important;
}

.va_bg-secondary {
  background-color: var(--va_clr-secondary);
  color: var(--va_clr-secondary-text) !important;
}

/* change text color */
*[class*="va_bg-"]:not(.va_bg-default) *:not(i),
*[class*="va_bg-"]:not(.va_bg-default) p,
*[class*="va_bg-"]:not(.va_bg-default) span,
*[class*="va_bg-"]:not(.va_bg-default) div,
*[class*="va_bg-"]:not(.va_bg-default) input,
*[class*="va_bg-"]:not(.va_bg-default) select,
*[class*="va_bg-"]:not(.va_bg-default) textarea,
*[class*="va_bg-"]:not(.va_bg-default) h2,
*[class*="va_bg-"]:not(.va_bg-default) h3,
*[class*="va_bg-"]:not(.va_bg-default) h4,
*[class*="va_bg-"]:not(.va_bg-default) h5,
*[class*="va_bg-"]:not(.va_bg-default) h6,
*[class*="va_bg-"]:not(.va_bg-default) .va_h1,
*[class*="va_bg-"]:not(.va_bg-default) .va_h2,
*[class*="va_bg-"]:not(.va_bg-default) .va_h3,
*[class*="va_bg-"]:not(.va_bg-default) .va_h4 {
  color: currentColor;
}

.va_clr-text {
  color: var(--va_clr-text) !important;
}

.va_clr-primary {
  color: var(--va_clr-primary) !important;
}

.va_clr-secondary {
  color: var(--va_clr-secondary) !important;
}

.va_clr-white {
  color: var(--va_clr-primary-text) !important;
}

.va_clr-grey {
  color: var(--va_clr-grey-text) !important;
}

.va_clr-black {
  color: var(--va_clr-text-black) !important;
}

a.va_clr-secondary:hover {
  color: var(--va_clr-primary) !important;
}
/** END GENERIC CLASSES **/

/** INMOVILLA OVERRIDES (Modifications to pre-established styles on the web) **/
/*Alertbox*/
.cajaAlertaContenedor {
  box-shadow: 0 10px 6px -6px #777;
}

.cajaAlertaContenedor .cajaAlertaAceptar {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 16px 42px !important;

  text-decoration: none;

  background: var(--va_clr-primary) !important;
  color: var(--va_clr-primary-text) !important;

  border: 2px solid var(--va_clr-primary) !important;
  border-radius: 50px !important;
}
/** END INMOVILLA OVERRIDES **/

/** BUSCAR VIVIENDAS (home) **/
#va_buscarViviendas {
  padding-bottom: 72px;
}

#va_buscarViviendas + .modulos-destacados {
  margin-top: 0;
}

.modulos-destacados #destacados-carrusel .propiedad,
.modulos-destacados #destacados-carrusel .propiedad .destacados-ficha-bloque2,
.modulos-destacados
  #destacados-carrusel
  .propiedad
  .destacados-ficha-bloque2
  .destacados-masdatos {
  background-color: var(--va_clr-background) !important;
}

.modulos-destacados #destacados-carrusel .propiedad {
  display: flex;
  flex-direction: column;
}

.modulos-destacados #destacados-carrusel .propiedad .destacados-ficha-bloque2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}

.modulos-destacados #destacados-carrusel .destacados-titulo {
  margin: 0 0 10px;
  padding: 0;

  font-family: var(--va_font-family-titles-medium) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 500 !important;
  font-size: 20px;
  line-height: 28px;

  color: var(--va_clr-secondary);
  border: none;
}

.modulos-destacados #destacados-carrusel .destacados-masdatos li {
  padding: 0 !important;
}
/** END BUSCAR VIVIENDAS (home) **/

/** PROPERTY PAGE **/
#modulo-fichapropiedad > * {
  margin: 0;
  padding: 0;
}

#modulo-fichapropiedad > .barragris:first-child {
  display: none;
}

#modulo-fichapropiedad > * > * {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--va_container-width) !important;
  margin: 0 auto;
  padding: 30px var(--va_container-padding-horizontal) 0;
}

#modulo-fichapropiedad > * > *:first-child {
  padding-top: 50px;
}

#modulo-fichapropiedad > * > *:last-child {
  padding-bottom: var(--va_container-padding-bottom);
}

#modulo-fichapropiedad > * > h2 {
  width: auto !important;
  margin: 0 auto !important;

  font-family: var(--va_font-family-titles) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 600 !important;
  font-size: var(--va_h3-fs);
  line-height: var(--va_h3-lh);

  color: var(--va_clr-secondary);
}

/* header */
#modulo-fichapropiedad #fichapropiedad-titulos {
  color: currentColor;

  max-width: none !important;
  width: 100% !important;
  margin: var(--va_header-height) auto 0 !important;
  padding: 0px !important;
}

#modulo-fichapropiedad #fichapropiedad-titulos h1 {
  margin: 0 auto !important;

  font-family: var(--va_font-family-titles) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 700 !important;
  font-size: var(--va_h2-fs);
  line-height: var(--va_h2-lh);

  color: var(--va_clr-secondary);
}

#modulo-fichapropiedad #fichapropiedad-titulos .fichapropiedad-tituloacciones {
  display: none;
}

#modulo-fichapropiedad #fichapropiedad-titulos #botones_redes_sociales {
  position: fixed;
  z-index: 50;
  top: calc(15px + var(--va_header-height));
  right: 15px;
  left: auto;
  bottom: auto;

  height: auto;
  width: auto;

  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
}

#modulo-fichapropiedad #fichapropiedad-titulos #botones_redes_sociales > * {
  float: none !important;
  display: block;
}

#modulo-fichapropiedad
  #fichapropiedad-titulos
  #botones_redes_sociales
  #titulo-compartir,
#modulo-fichapropiedad #fichapropiedad-titulos #botones_redes_sociales:before,
#modulo-fichapropiedad
  #fichapropiedad-titulos
  #botones_redes_sociales
  .a2a_button_twitter,
#modulo-fichapropiedad
  #fichapropiedad-titulos
  #botones_redes_sociales
  .a2a_button_telegram,
#modulo-fichapropiedad
  #fichapropiedad-titulos
  #botones_redes_sociales
  .a2a_button_facebook {
  display: none;
}

#modulo-fichapropiedad
  #fichapropiedad-titulos
  ul.fichapropiedad-caracteristicastitulo {
  gap: 15px;
}

#modulo-fichapropiedad
  #fichapropiedad-titulos
  .fichapropiedad-titulosecundario {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

#modulo-fichapropiedad
  #fichapropiedad-titulos
  .fichapropiedad-titulosecundario
  .fichapropiedad-bloqueprecio {
  order: -1;
  margin: 0 !important;
}

#modulo-fichapropiedad
  #fichapropiedad-titulos
  .fichapropiedad-titulosecundario
  .fichapropiedad-bloqueprecio
  .fichapropiedad-precio {
  font-size: 40px !important;
}

#modulo-fichapropiedad
  #fichapropiedad-titulos
  .fichapropiedad-titulosecundario
  .fichapropiedad-bloqueprecio
  .fichapropiedad-proponerprecio,
#modulo-fichapropiedad
  #fichapropiedad-titulos
  .fichapropiedad-titulosecundario
  .fichapropiedad-bloqueprecio
  .fichapropiedad-proponerprecio::before {
  background-color: var(--va_clr-secondary);
}

#modulo-fichapropiedad
  #fichapropiedad-titulos
  .fichapropiedad-titulosecundario
  .fichapropiedad-bloqueprecio
  .fichapropiedad-proponerprecio:hover,
#modulo-fichapropiedad
  #fichapropiedad-titulos
  .fichapropiedad-titulosecundario
  .fichapropiedad-bloqueprecio
  .fichapropiedad-proponerprecio:hover::before {
  background-color: var(--va_clr-primary);
}

/* photo viewer */
#modulo-fichapropiedad #fichapropiedad-bloquevisor {
  margin: 30px auto;
}

#modulo-fichapropiedad #fichapropiedad-bloquevisor > * {
  padding: 0;
}

#modulo-fichapropiedad #fichapropiedad-bloquevisor .bloqueVisorIndividual {
  background-color: var(--va_clr-background);
}

/* description */
#modulo-fichapropiedad #fichapropiedad-bloquedescripcion {
  width: 100% !important;
  max-width: var(--va_container-width) !important;
  margin: 0 auto;
  padding: 0 var(--va_container-padding-horizontal)
    var(--va_container-padding-bottom);

  font-family: var(--va_font-family) !important;
  letter-spacing: var(--va_lspacing);
  font-weight: 400;
  font-size: var(--va_font-size);
  line-height: var(--va_line-height);

  color: var(--va_clr-text-black);
}

#modulo-fichapropiedad #fichapropiedad-bloquedescripcion > * {
  padding: 0;
}

/* features */
#modulo-fichapropiedad #fichapropiedad-bloquecaracteristicas {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--va_clr-background) !important;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecaracteristicas
  .fichapropiedad-listados {
  align-items: flex-start;
  gap: 20px;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecaracteristicas
  .fichapropiedad-listados
  .fichapropiedad-listadatos,
#modulo-fichapropiedad
  #fichapropiedad-bloquecaracteristicas
  .fichapropiedad-listados
  .fichapropiedad-listaderecha {
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
  max-width: 552px;
  padding: 32px;
  box-sizing: border-box;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecaracteristicas
  .fichapropiedad-listados
  .fichapropiedad-listaderecha {
  min-width: 255px;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecaracteristicas
  .fichapropiedad-listados
  .fichapropiedad-listaderecha
  .fichapropiedad-listacalidades {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecaracteristicas
  .fichapropiedad-listados
  .fichapropiedad-listaderecha
  ul.fichapropiedad-listacalidades
  li
  i {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecaracteristicas
  .fichapropiedad-listados
  .fichapropiedad-listaderecha
  ul.fichapropiedad-listacalidades
  li
  i::before {
  margin: 0.2em 0 0 auto;
  width: 0.8em;
  height: 0.8em;

  background: var(--va_clr-primary);

  -webkit-mask-image: url("./img/check-blanco.svg");
  mask-image: url("./img/check-blanco.svg");

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: contain;
  mask-size: contain;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecaracteristicas
  #fichapropiedad-certificacionenergetica {
  padding-top: var(--va_container-padding-top);
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecaracteristicas
  #fichapropiedad-certificacionenergetica
  h2 {
  margin: 0 auto 12px !important;
  padding: 0;

  font-family: var(--va_font-family-titles-medium) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 500 !important;
  font-size: var(--va_h4-fs);
  line-height: var(--va_h4-lh);

  color: var(--va_clr-secondary);
}

/* map, contact and simulator */
#modulo-fichapropiedad #fichapropiedad-bloquemapa > *,
#modulo-fichapropiedad #fichapropiedad-bloquecontactanos > *,
#modulo-fichapropiedad
  #fichapropiedad-bloquesimuladorhipoteca
  .cajasCalculadoras {
  max-width: 830px !important;
}

#modulo-fichapropiedad #fichapropiedad-bloquemapa iframe {
  height: 500px !important;
}

#modulo-fichapropiedad #fichapropiedad-bloquecontactanos,
#modulo-fichapropiedad #fichapropiedad-bloquecontactanos .cajas,
#modulo-fichapropiedad
  #fichapropiedad-bloquesimuladorhipoteca
  .cajasCalculadoras
  .cajaCalculadora {
  max-width: none;
}

#modulo-fichapropiedad #fichapropiedad-bloquecontactanos > *:first-child {
  padding-top: 0;
}

#modulo-fichapropiedad #fichapropiedad-bloquecontactanos > h2 {
  margin: 0 auto !important;
  padding: 0;

  font-family: var(--va_font-family-titles-medium) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 500 !important;
  font-size: var(--va_h4-fs);
  line-height: var(--va_h4-lh);

  color: var(--va_clr-secondary);
}

#modulo-fichapropiedad #fichapropiedad-bloquecontactanos .cajaForm .inputs {
  flex-direction: column;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecontactanos
  .cajaForm
  .inputs
  input,
#modulo-fichapropiedad
  #fichapropiedad-bloquecontactanos
  .cajaForm
  .comentario
  textarea {
  max-width: none;
  width: 100%;
  border: 1px solid var(--va_clr-background);
  box-shadow: none;
  border-radius: 8px;
  padding: 12px 16px;
  margin: 0 0 15px;
  background: transparent;
  font-size: var(--va_small-fs);
  line-height: var(--va_small-lh);
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecontactanos
  .custom-checkbox
  + label::before {
  background-color: white;
  border: 1px solid var(--va_clr-background);
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecontactanos
  .custom-checkbox:checked
  + label::before {
  background-color: var(--va_clr-secondary) !important;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecontactanos
  .custom-checkbox:checked
  + label::after {
  display: none;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecontactanos
  #texto-legal-contactanos {
  font-size: var(--va_small-fs);
  line-height: var(--va_small-lh);
  color: var(--va_clr-grey-text-drak);
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecontactanos
  #texto-legal-contactanos:hover {
  color: var(--va_clr-text-black);
}

#modulo-fichapropiedad #fichapropiedad-bloquecontactanos button.botonEnviar {
  padding: 16px 42px;
  text-decoration: none;
  font-weight: 600;
  background: var(--va_clr-secondary);
  color: var(--va_clr-secondary-text);
  border: 2px solid var(--va_clr-secondary);
  border-radius: 50px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  margin: 32px auto 0;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquecontactanos
  button.botonEnviar:hover {
  text-decoration: none;

  background: var(--va_clr-primary);
  color: var(--va_clr-primary-text) !important;
  border-color: var(--va_clr-primary);
}

#modulo-fichapropiedad #fichapropiedad-bloquesimuladorhipoteca {
  color: currentColor;
  width: 100%;
  margin: 0;
  padding: 0;

  background-size: cover;
  background-position: center;
  background-image: url("./img/simulador-hipoteca.jpg");
}
/* hipoteca > no image background */
#modulo-fichapropiedad #fichapropiedad-bloquesimuladorhipoteca {
  background-image: none;
  background-color: var(--va_clr-secondary);
}
#modulo-fichapropiedad > #fichapropiedad-bloquesimuladorhipoteca > h2 {
  color: var(--va_clr-secondary-text);
}
/* END hipoteca > no image background */

#modulo-fichapropiedad
  #fichapropiedad-bloquesimuladorhipoteca
  .cajasCalculadoras
  .contenedorCalculadoras
  .linea_dato_calchipoteca
  * {
  font-size: var(--va_small-fs);
  line-height: var(--va_small-lh);
}

#modulo-fichapropiedad
  #fichapropiedad-bloquesimuladorhipoteca
  .cajasCalculadoras
  .contenedorCalculadoras
  .linea_dato_calchipoteca
  br {
  display: none;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquesimuladorhipoteca
  .cajasCalculadoras
  .contenedorCalculadoras
  .linea_dato_calchipoteca
  #titulo_localizacion,
#modulo-fichapropiedad
  #fichapropiedad-bloquesimuladorhipoteca
  .cajasCalculadoras
  .contenedorCalculadoras
  .linea_dato_calchipoteca
  #titulo_condicion,
#modulo-fichapropiedad
  #fichapropiedad-bloquesimuladorhipoteca
  .cajasCalculadoras
  .contenedorCalculadoras
  .linea_dato_calchipoteca
  .col_dato_calchipoteca_izq {
  font-family: var(--va_font-family-titles-medium) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 500 !important;
  font-size: var(--va_font-size);
  line-height: var(--va_line-height);
}

#modulo-fichapropiedad
  #fichapropiedad-bloquesimuladorhipoteca
  .cajasCalculadoras
  .contenedorCalculadoras
  .linea_dato_calchipoteca
  #titulo_localizacion,
#modulo-fichapropiedad
  #fichapropiedad-bloquesimuladorhipoteca
  .cajasCalculadoras
  .contenedorCalculadoras
  .linea_dato_calchipoteca
  #titulo_condicion {
  margin-bottom: 10px;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquesimuladorhipoteca
  .cajasCalculadoras
  .contenedorCalculadoras
  #cuotahipotecalinea
  strong,
#modulo-fichapropiedad
  #fichapropiedad-bloquesimuladorhipoteca
  .cajasCalculadoras
  .contenedorCalculadoras
  #cuotahipotecalinea
  strong
  span {
  font-family: var(--va_font-family-titles-medium) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 500 !important;
  font-size: var(--va_h4-fs);
  line-height: var(--va_h4-lh);
}

#modulo-fichapropiedad
  #fichapropiedad-bloquesimuladorhipoteca
  .cajasCalculadoras
  .contenedorCalculadoras
  #cuotahipotecalinea
  .col_dato_calchipoteca_der
  strong,
#modulo-fichapropiedad
  #fichapropiedad-bloquesimuladorhipoteca
  .cajasCalculadoras
  .contenedorCalculadoras
  #cuotahipotecalinea
  .col_dato_calchipoteca_der
  strong
  span {
  color: var(--va_clr-secondary);
}

/* more properties */
#modulo-fichapropiedad #fichapropiedad-bloquesimilares {
  margin: 0;
  padding: 0;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquesimilares
  > div.contenidoSimilares {
  margin: 0 auto;
  padding: 30px var(--va_container-padding-horizontal)
    var(--va_container-padding-bottom) !important;
  row-gap: 70px;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquesimilares
  > div.contenidoSimilares
  .similares-ficha-tituloprecio {
  font-weight: 500;
  padding: 8px 8px 6px !important;
  line-height: 1em;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquesimilares
  > div.contenidoSimilares
  .similares-ficha.propiedad
  .similares-ficha-pie {
  overflow: hidden;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquesimilares
  > div.contenidoSimilares
  .similares-ficha.propiedad
  .similares-ficha-pie
  hr {
  border: 1px solid var(--va_clr-secondary);
}

#modulo-fichapropiedad
  #fichapropiedad-bloquesimilares
  > div.contenidoSimilares
  .similares-ficha.propiedad
  .similares-ficha-masdatos,
#modulo-fichapropiedad
  #fichapropiedad-bloquesimilares
  > div.contenidoSimilares
  .similares-ficha.propiedad
  .similares-ficha-pie
  .similares-ficha-masinfo {
  background-color: var(--va_clr-background) !important;
}

#modulo-fichapropiedad
  #fichapropiedad-bloquesimilares
  > div.contenidoSimilares
  .similares-ficha.propiedad
  .similares-ficha-pie
  .similares-ficha-masinfo:hover {
  background-color: var(--va_clr-secondary) !important;
  color: var(--va_clr-secondary-text) !important;
  box-shadow: none;
}

/* Contact at right */
#modulo-fichapropiedad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
}

#modulo-fichapropiedad > * {
  min-width: 100%;
  order: 4;
}

#modulo-fichapropiedad #fichapropiedad-bloquevisor .bloqueVisorIndividual {
  border-radius: 0;
}

#modulo-fichapropiedad #fichapropiedad-bloquedescripcion {
  text-align: center;
}

#modulo-fichapropiedad #fichapropiedad-bloquevisor .bloqueVisorIndividual,
#modulo-fichapropiedad #fichapropiedad-bloquecontactanos {
  padding-top: 50px;
  padding-bottom: 50px;
}

#modulo-fichapropiedad #fichapropiedad-bloquecontactanos > h2 {
  font-family: var(--va_font-family-titles) !important;
  letter-spacing: var(--va_lspacing-titles);
  font-weight: 600 !important;
  font-size: var(--va_h3-fs);
  line-height: var(--va_h3-lh);
}

#modulo-fichapropiedad #fichapropiedad-bloquecontactanos .cajas {
  padding-bottom: 0;
}

/*Allow scroll on inmuebles destacados*/
.caroufredsel_wrapper {
  overflow-x: auto !important;
}
.caroufredsel_wrapper::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
#destacados-carrusel {
  width: auto !important;
}
#destacados-flechas {
  display: none !important;
}
@media screen and (min-width: 901px) {
  #modulo-fichapropiedad > #fichapropiedad-titulos,
  #modulo-fichapropiedad > #fichapropiedad-bloquevisor {
    order: 1;
  }

  #modulo-fichapropiedad > #fichapropiedad-bloquedescripcion {
    order: 3;
  }

  #modulo-fichapropiedad > #fichapropiedad-bloquecontactanos {
    order: 2;
  }

  #modulo-fichapropiedad > #fichapropiedad-bloquevisor,
  #modulo-fichapropiedad > #fichapropiedad-bloquecontactanos {
    min-width: 50%;
    width: 50%;
    margin: 30px auto;
  }
}

@media screen and (max-width: 900px) {
  #modulo-fichapropiedad > #fichapropiedad-titulos,
  #modulo-fichapropiedad > #fichapropiedad-bloquevisor,
  #modulo-fichapropiedad #fichapropiedad-bloquedescripcion {
    order: 1;
  }

  #modulo-fichapropiedad > #fichapropiedad-bloquecontactanos {
    order: 2;
    background-color: var(--va_clr-background);
  }

  #modulo-fichapropiedad > #fichapropiedad-bloquemapa {
    order: 3;
  }

  #modulo-fichapropiedad #fichapropiedad-bloquevisor .bloqueVisorIndividual {
    background-color: transparent;
  }
}
/* END contact at right */
/** END PROPERTY PAGE **/

/** MEDIA QUERIS (responsive from desktop to mobile) **/
@media screen and (max-width: 1420px) {
  /* Set fixed padding in columns border */
  .va_columns-border > *:first-child {
    padding-left: calc(710px - var(--va_container-width-half));
  }

  .va_columns-border > *:last-child {
    padding-right: calc(710px - var(--va_container-width-half));
  }
  /* END Set fixed padding in columns border */
  :root {
    --va_container-padding-horizontal-not-centered: 10vw;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --va_container-padding-horizontal-not-centered: 5vw;
  }
}

@media screen and (max-width: 1000px) {
  /*Change from floating form to modal form*/
  .va_button-floating {
    display: block;
  }

  #va_close-modal-form-btn {
    display: block !important;
  }
  .va_container-sticky-form {
    right: calc(50% - calc(var(--floating-form-width) / 2));
    display: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .va_container-right-spaced {
    text-align: center;
    padding: var(--va_container-padding-top)
      var(--va_container-padding-horizontal) var(--va_container-padding-bottom);
    margin: 0 auto;
  }

  .va_container-right-spaced > * {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 900px) {
  /* Change font size */
  :root {
    --va_h1-fs: 80px;
    --va_h1-lh: 100px;
    --va_h2-fs: 72px;
    --va_h2-lh: 72px;
    --va_h3-fs: 40px;
    --va_h3-lh: 51px;
    --va_h4-fs: 24px;
    --va_h4-lh: 28px;
  }

  /* header mobile */
  #modulo-cabecera-2 #header-bloquemenu .header-menu {
    position: inherit;
  }

  #modulo-cabecera-2 #header-bloquemenu .header-menu::before {
    top: 12px !important;
    right: 45px !important;
    left: auto !important;
    transform: none;

    height: auto;
    width: auto;

    padding: 5px 15px;
    font-weight: 500;
    line-height: 1em;

    background: var(--va_clr-secondary);
    color: var(--va_clr-secondary-text) !important;
    border: none;
    border-radius: 50px;
  }

  #modulo-cabecera-2 #header-bloquemenu .header-menu.xvisible::before {
    background: var(--va_clr-primary);
    color: var(--va_clr-primary-text) !important;
  }

  #modulo-cabecera-2 #header-bloquemenu .header-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;

    flex-direction: row;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background: white;
  }

  #modulo-cabecera-2 #header-bloquemenu .header-menu li {
    margin: 0;
    padding: 10px 0 20px;
    background: none !important;
  }

  #modulo-cabecera-2 #header-bloquemenu .header-menu li.activa,
  #modulo-cabecera-2 #header-bloquemenu .header-menu li:hover {
    background: none !important;
  }

  /* Remove media columns (and force image first) */
  .va_columns-media {
    flex-direction: column;
    align-items: center;
  }

  .va_columns-media > * {
    max-width: 590px !important;
    min-width: 0;
  }

  .va_columns-media > .va_column-image {
    order: -1;
  }

  .va_columns-media > .va_column-text {
    text-align: center;
  }
  /* END Remove media columns */

  /* Remove desktop columns */
  .va_columns-desktop,
  #modulo-fichapropiedad
    #fichapropiedad-bloquecaracteristicas
    .fichapropiedad-listados {
    flex-direction: column;
    align-items: center;
  }

  .va_columns-desktop > * {
    width: 100%;
    max-width: 420px !important;
    min-width: 0;
  }

  #modulo-fichapropiedad
    #fichapropiedad-bloquecaracteristicas
    .fichapropiedad-listados
    .fichapropiedad-listadatos,
  #modulo-fichapropiedad
    #fichapropiedad-bloquecaracteristicas
    .fichapropiedad-listados
    .fichapropiedad-listaderecha,
  #modulo-fichapropiedad
    #fichapropiedad-bloquecaracteristicas
    #fichapropiedad-certificacionenergetica
    .table-bordered {
    width: 100%;
    min-width: 0;
    max-width: 552px;
    margin: 0 auto;
  }

  .va_column-text p + *[class*="va_btn"],
  .va_column-text p + *[class*="va_btn"] + *[class*="va_btn"] {
    margin-top: 48px;
  }
  /* END Remove desktop columns */

  /* 4 COLUMNS: Convert in 2 columns with 2 rows */
  .va_columns-4,
  .va_steps-4 {
    flex-wrap: wrap;
  }

  .va_columns-4 > * {
    width: calc(50% - var(--va_columns-gap-half));
    min-width: calc(50% - var(--va_columns-gap-half));
    max-width: calc(50% - var(--va_columns-gap-half));
  }

  .va_columns-4.va_wrapper-btns {
    max-width: 400px;
  }

  .va_columns-4.va_wrapper-btns > * {
    width: calc(50% - var(--va_btns-gap-half));
    min-width: calc(50% - var(--va_btns-gap-half));
    max-width: calc(50% - var(--va_btns-gap-half));
  }

  .va_steps-4 > * {
    width: calc(50% - var(--va_steps-gap-half));
    min-width: calc(50% - var(--va_steps-gap-half));
    max-width: calc(50% - var(--va_steps-gap-half));
  }
  /* END 4 COLUMNS */

  /* border columns link arrow */
  .va_columns-border .va_column-link {
    position: relative;
  }

  .va_columns-border .va_column-link a svg {
    position: absolute;
    bottom: 20px;
    right: 30px;
    color: var(--va_clr-primary) !important;
    margin: 0;
  }
  /* end border columns link arrow */
  /*adjusting endoso footer*/
  footer .va_endoso {
    padding: 0px 0px 50px;
    justify-content: center;
  }
}
@media (max-height: 770px) {
  .va_container-sticky-form {
    min-height: calc(100vh - 170px);
  }
}

@media screen and (max-width: 700px) {
  /* Property page (in mobile) */
  #modulo-fichapropiedad
    #fichapropiedad-bloquesimuladorhipoteca
    .cajasCalculadoras
    .contenedorCalculadoras
    .linea_dato_calchipoteca {
    margin: 20px 0 0;
    width: 100%;
  }

  #modulo-fichapropiedad
    #fichapropiedad-bloquesimuladorhipoteca
    .cajasCalculadoras
    .contenedorCalculadoras
    .linea_dato_calchipoteca:not(#cuotahipotecalinea)
    .col_dato_calchipoteca_izq,
  #modulo-fichapropiedad
    #fichapropiedad-bloquesimuladorhipoteca
    .cajasCalculadoras
    .contenedorCalculadoras
    .linea_dato_calchipoteca:not(#cuotahipotecalinea)
    .col_dato_calchipoteca_der {
    float: none;
  }

  #modulo-fichapropiedad
    #fichapropiedad-bloquesimuladorhipoteca
    .cajasCalculadoras
    .contenedorCalculadoras
    .linea_dato_calchipoteca:first-child {
    margin-top: 0;
  }

  #modulo-fichapropiedad
    #fichapropiedad-bloquesimuladorhipoteca
    .cajasCalculadoras
    .contenedorCalculadoras
    .linea_dato_calchipoteca
    .col_dato_calchipoteca_izq {
    margin-bottom: 10px;
  }

  #modulo-fichapropiedad
    #fichapropiedad-bloquesimuladorhipoteca
    .cajasCalculadoras
    .contenedorCalculadoras
    .linea_dato_calchipoteca:first-child
    .col_dato_calchipoteca_der {
    margin-top: 20px;
  }

  #modulo-fichapropiedad
    #fichapropiedad-bloquesimuladorhipoteca
    .cajasCalculadoras
    .contenedorCalculadoras
    .linea_dato_calchipoteca
    #gastoshipoteca,
  #modulo-fichapropiedad
    #fichapropiedad-bloquesimuladorhipoteca
    .cajasCalculadoras
    .contenedorCalculadoras
    .linea_dato_calchipoteca
    #gastoshipoteca {
    width: calc(100% - 0.9em);
  }

  #modulo-fichapropiedad
    #fichapropiedad-bloquesimuladorhipoteca
    .cajasCalculadoras
    .contenedorCalculadoras
    .linea_dato_calchipoteca
    #NumberOfYears {
    width: 100%;
  }

  #modulo-fichapropiedad
    #fichapropiedad-bloquesimuladorhipoteca
    .cajasCalculadoras
    .contenedorCalculadoras
    .linea_dato_calchipoteca
    #preciopropiedad,
  #modulo-fichapropiedad
    #fichapropiedad-bloquesimuladorhipoteca
    .cajasCalculadoras
    .contenedorCalculadoras
    .linea_dato_calchipoteca
    #tipo_hipoteca {
    width: calc(100% - 5.4em) !important;
  }

  /*Change from modal form to full-page form*/
  .va_button-floating {
    display: block;
  }
  .va_container-sticky-form {
    border-radius: 0;
    position: fixed !important;
    top: 55px;
    right: 0;
    margin: 0;
    width: auto;
    height: 100vh;
    padding-top: 50px;
  }

  .va_container-right-spaced {
    padding: var(--va_container-padding-top)
      var(--va_container-padding-horizontal) var(--va_container-padding-bottom);
  }

  .va_container-sticky-form > .va_container-sticky-form-content {
    max-height: calc(100% - 190px);
  }
}

@media screen and (max-width: 600px) {
  :root {
    /* Change font size */
    --va_h1-fs: 50px;
    --va_h1-lh: 66px;
    --va_h2-fs: 48px;
    --va_h2-lh: 48px;
    --va_h3-fs: 40px;
    --va_h3-lh: 40px;
    --va_h4-fs: 24px;
    --va_h4-lh: 24px;

    /* change paddings */
    --va_container-padding-horizontal: 30px;
  }

  /* Remove all columns */
  *[class*="va_columns"],
  *[class*="va_steps"] {
    flex-direction: column;
  }

  *[class*="va_columns"] > *,
  *[class*="va_steps"] > *,
  .va_columns-4.va_wrapper-btns > * {
    width: auto;
    max-width: none;
    min-width: 0;
  }
  /* END Remove all columns */

  /* Border columns in columns */
  .va_columns-border {
    flex-direction: row;
  }

  .va_columns-border > * {
    padding: 26px 16px 48px !important;
  }

  .va_columns-border .va_column-link p {
    display: none;
  }

  .va_columns-border .va_column-link .va_h3 {
    display: block;
    font-size: 32px;
    line-height: 32px;
  }
  /* END Border columns in columns */

  /* button columns */
  .va_wrapper-btns[class*="va_columns"] > * {
    min-width: 180px;
  }

  /* More padding on some containers when mobile*/
  .va_more-padding {
    padding-left: 60px;
    padding-right: 60px;
  }
  /*remove margin top on mobile*/
  #va_id-head-quienes-somos {
    margin-top: 0 !important;
  }
  /** REMOVE PADDING TOP ON MOBILE **/
  .va_first-block-mobile {
    padding-top: 0;
  }
}

@media screen and (max-width: 400px) {
  :root {
    /* Change font size for tittle*/
    --va_h1-fs: 45px;
    --va_h3-fs: 35px;
  }

  *[class*="va_btn"] {
    padding: 15px 30px;
  }

  .va_column-text p + *[class*="va_btn"] + *[class*="va_btn"] {
    margin-left: 20px;
  }
}
/** END MEDIA QUERIS **/
